@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Title";
    src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
}

@font-face {
    font-family: "Body";
    src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Eczar:wght@400..800&display=swap");
}

@layer utilities {
    .font-title {

        font-family: "Title";
    }

    .font-body,
    body {
        font-family: "Body";
    }

    .open-menu {
        left: 0;
    }

    .close-menu {
        left: -100vw;
    }

    .ancestor {
        z-index: 10;
    }

    .ancestor ~ .brother {
        position: absolute;
        z-index: -100;
        top: -150px;
    }
    
    .ancestor:hover ~ .brother {    
        top: 0px;
        position: relative;
        z-index: 0;
    }

}